/* Variables */

:root {
  --orange: rgb(246, 223, 188);
  --green: rgb(168, 184, 118);
  --lt-green: rgb(202, 223, 145);
  --pink: rgb(240, 166, 192);
  --lt-pink: rgb(247, 197, 214);
  --blue: rgb(166, 207, 201);
  --lt-blue: rgb(190, 235, 228);
  
  --black: rgb(21, 21, 21);
  --white: rgb(241, 241, 241);
  --lt-gray: rgb(216, 216, 216);
  --m-gray: rgb(129, 129, 129);
  --gray: rgb(78, 78, 78);
  --dk-gray: rgb(59, 59, 59);

  --fonts: 'roboto',sans-serif;font-size:7px;
}

/* Viewport */

:root {
  font-size: 10px;
}

@media only screen and (min-width: 380px) {
  :root {
      font-size: 14px;
  }
}

@media only screen and (min-width: 410px) {
  :root {
      font-size: 16px;
  }
}

@media only screen and (min-width: 800px) {
  :root {
      font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
      font-size: 24px;
  }
}

@media only screen and (min-width: 1800px) {
  :root {
      font-size: 26px;
  }
}

/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  color: var(--black);
  font-family: var(--fonts);
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: 0.2rem solid var(--orange);
  border-radius: 0.25rem;
}

::selection {
  background-color: var(--orange);
  color: var(--black);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  font-size: .75rem;
}

input, button, textarea, select {
  font: inherit;
}

a, button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

ul {
  list-style-type: none;
  padding: 0;
}


/* Custom Styles */

/* NAVBAR */

/* Mobile */

#navbar {
  padding: 0 2rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  z-index: 100;
  position: fixed;
  box-shadow: 0 -0.75rem 1rem 1rem rgba(21, 21, 21, 0.8);

}

#navbar .home_pic_link {
  padding: 0.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#navbar .home_img {
  color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
}

#navbar .sig_img {
  visibility: hidden;
  display: none;
  width: 0;
}

#navbar .home_pic_link * {
  transform-origin: 50% 50%;
}

#navbar .home_pic_link svg {
  shape-rendering: auto;
}

#navbar .home_pic_link:hover .home_img .h_circle{
  animation: spin 0.4s linear infinite
}

#navbar .home_pic_link .home_img .h_crown{
  position: absolute;
}

#navbar .home_pic_link:hover .home_img .h_crown{
  animation: shake 1.2s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  from {
    transform: translate(17.3%, 26.5%);
  }
  50% {
    transform: translate(18.2%, 29%);
  }
  to {
    transform: translate(17.3%, 26.5%);
  }
}

#navbar .menu {
  width: fit-content;
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

#navbar .nav_item {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--white);
  padding: 0.25rem 0.25rem 0.25rem;
  border-bottom: 0.25rem solid transparent;
  border-radius: 0.25rem;
  -webkit-tap-highlight-color: rgba(240, 166, 192, 0.3);
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#navbar .nav_item:hover {
  color: var(--pink);
  border-bottom: 0.25rem solid var(--pink);
}

/* Desktop */

@media only screen and (min-width: 1200px){
  #navbar {
      padding: 0 8rem;
  }

  #navbar .sig_img {
    visibility: visible;
    display: block;
    width: 8rem;
    height: auto;
  }
}

@media only screen and (min-width: 1800px){
  #navbar {
      padding: 0 12rem;
  }
}


/* P_WELCOME */

/* Mobile */

#p_welcome {
  background-color: var(--blue);
}

/* CONTACT */

/* Mobile */

#contact {
  background-color: var(--black);
  width: 100%;
  padding: 1rem 0 3rem;
}

#contact .contact_head {
  display: flex;
  align-items: center;
  margin: 2rem 2rem 2rem;
}

#contact .contact_head img {
  width: 6.5rem;
  height: auto;
  color: var(--lt-gray);
}

#contact .contact_img .h_circle{
  transform-origin: 50% 50%;
  animation: spin 1s linear infinite;
}

#contact .contact_img .h_circle{
  animation: spin 1s linear infinite;
}

#contact h2 {
  width: fit-content;
  display: block;
  font-size: 2.25rem;
  color: var(--white);
  margin-left: 1rem;
  padding-top: 0.5rem;
}

#contact .contact_form {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: block;
  border-radius: 2rem;
}

#contact .contact_inputs {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: var(--dk-gray);
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  display: block;
  letter-spacing: 0.1rem;
}

#contact .contact_inputs:hover {
  background-color: var(--gray);
}

#contact .contact_inputs:hover::placeholder {
  color: var(--m-gray);
}

#contact .contact_inputs:focus-visible {
  background-color: var(--gray);
  color: var(--lt-gray);
  outline: 0.2rem solid var(--green);
}

#contact .contact_inputs:focus-visible::placeholder{
  color: var(--m-gray);
}

#contact .email_input {
  height: 4rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

#contact .textarea_input {
  height: 8rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  resize: none;
}

#contact .submit_btn {
  display: block;
  padding: 0.5rem 5rem;
  background-color: var(--green);
  color: var(--black);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

#contact .submit_btn:hover {
  background-color: var(--lt-green);
  color: var(--black);
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {

  #contact .contact_head {
    margin: 0 8rem;
  }

  #contact .contact_form {
    width: auto;
    margin: 0 8rem;
    padding: 0;
  }
}

@media only screen and (min-width: 1800px) {

  #contact .contact_head {
    margin: 0 12rem;
  }

  #contact .contact_form {
    margin: 0 12rem;
  }
}

/* FOOTER */

/* Mobile */

#foot {
  background-color: var(--black);
}

#foot .s_links {
  color: var(--lt-gray);
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  font-weight: 700;
}

#foot .s_links svg {
  width: 2rem;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out, fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

#foot .s_links .e_svg {
  stroke: var(--gray);
  width: 2.2rem;
}

#foot .s_links .e_svg:hover {
  stroke: var(--lt-gray);
  opacity: 1;
}

#foot .s_links .l_svg {
  fill: var(--gray);
  width: 1.7rem;
}

#foot .s_links .l_svg:hover {
  fill: var(--lt-gray);
}

#foot p {
  color: var(--dk-gray);
  font-size: 0.9rem;
  width: fit-content;
  margin: 1rem auto 0;
  padding-bottom: 1rem;
}

/* p-styles */

#p_welcome {
  position: relative;
  display: flex;
  padding: 3rem 0 10rem;
  align-items: center;
  align-content: center;
}

.portfolio_sec {
  margin: 2rem 0;
}



/* iframe */

.iframe_test {
  position: relative;
  align-items: stretch;
  align-self: stretch;
  top: 0;
  left: 0;
}

iframe {
  position: absolute;
  width: 100%;
  border: none;
  align-items: stretch;
  align-self: stretch;
}