/* Variables */

:root {
  --orange: rgb(246, 223, 188);
  --green: rgb(168, 184, 118);
  --lt-green: rgb(202, 223, 145);
  --pink: rgb(240, 166, 192);
  --lt-pink: rgb(247, 197, 214);
  --blue: rgb(166, 207, 201);
  --lt-blue: rgb(190, 235, 228);
  
  --black: rgb(21, 21, 21);
  --white: rgb(241, 241, 241);
  --lt-gray: rgb(216, 216, 216);
  --m-gray: rgb(129, 129, 129);
  --gray: rgb(78, 78, 78);
  --dk-gray: rgb(59, 59, 59);

  --fonts: 'roboto',sans-serif;font-size:7px;
}

/* Viewport */

:root {
  font-size: 10px;
}

@media only screen and (min-width: 380px) {
  :root {
      font-size: 14px;
  }
}

@media only screen and (min-width: 410px) {
  :root {
      font-size: 16px;
  }
}

@media only screen and (min-width: 800px) {
  :root {
      font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
      font-size: 24px;
  }
}

@media only screen and (min-width: 1800px) {
  :root {
      font-size: 26px;
  }
}

/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  color: var(--black);
  font-family: var(--fonts);
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: 0.2rem solid var(--orange);
  border-radius: 0.25rem;
}

::selection {
  background-color: var(--orange);
  color: var(--black);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  font-size: .75rem;
}

input, button, textarea, select {
  font: inherit;
}

a, button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

ul {
  list-style-type: none;
  padding: 0;
}

svg {
  pointer-events: none;
}

/* Custom Styles */

.no_transition *,
.no_transition *::before {
  transition: none !important;
}

/* NAVBAR */

/* Mobile */

#navbar {
  padding: 0 2rem 1rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  background: url(assets/nav_gradient_m.webp) bottom center no-repeat;
  background-size: contain;
  background-color: var(--black);
  color: var(--white);
  z-index: 100;
  position: fixed;
  /* box-shadow: 0 0 0.75rem 1rem var(--black); */
  box-shadow: 0 -0.75rem 1rem 1rem rgba(21, 21, 21, 0.8);

}

#navbar .home_pic_link {
  padding: 0.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#navbar .home_img {
  color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
}

#navbar .sig_img {
  visibility: hidden;
  display: none;
  width: 0;
}

#navbar .home_pic_link * {
  transform-origin: 50% 50%;
}

#navbar .home_pic_link svg {
  shape-rendering: auto;
}

#navbar .home_pic_link:hover .home_img .h_circle{
  animation: spin 0.4s linear infinite
}

#navbar .home_pic_link .home_img .h_crown{
  position: absolute;
}

#navbar .home_pic_link:hover .home_img .h_crown{
  animation: shake 1.2s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  from {
    transform: translate(17.3%, 26.5%);
  }
  50% {
    transform: translate(18.2%, 29%);
  }
  to {
    transform: translate(17.3%, 26.5%);
  }
}

#navbar .menu {
  width: fit-content;
  margin-left: auto;
  display: flex;
  gap: 2rem;
}




#navbar .menu_content {
  position: relative;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  color: transparent;
  color: var(--lt-gray);
  background-clip: text;
  padding: 0.25rem 0.25rem;
  -webkit-tap-highlight-color: rgba(240, 166, 192, 0.3);
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

#navbar .menu_content:hover {
  color: var(--white);
  background-clip: text;
  opacity: 1;
}

#navbar .menu_item {
  display: flex;
  flex-direction: column;
}

#navbar .menu_btn {
    position: relative;
}

#navbar .menu_btn svg {
  stroke: var(--white);
  stroke-width: 8;
  width: 0.75rem;
  height: auto;
  fill: none;
  transition: transform 0.2s ease-in-out;
}

#navbar .menu_btn.active svg {
  transform: rotate(-180deg);
}

#navbar .drop_btn {
  position: relative;
}

#navbar .dropdown {
  width: 14rem;
  height: 7rem;
  max-height: 0;
  position: absolute;
  top: 125%;
  left: -15%;
  background: linear-gradient(to bottom, var(--black), var(--black), rgb(30,30,30));
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

#navbar .active .dropdown {
  max-height: 7rem;
}

#navbar .port_link a {
  display: block;
  width: fit-content;
  position: relative;
  color: var(--white);
  font-weight: 700;
  text-align: left;
  padding: 0.25rem 0;
}

#navbar .port_link a::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  opacity: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  height: 0.25rem;
  border-radius: 0.25rem;
  background: linear-gradient(to right, var(--pink), var(--green), var(--blue));
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#navbar .port_link a:hover::after {
  width: 100%;
  opacity: 1;
}

/* #navbar .rectangle {
  display: block;
  align-items: stretch;
  padding: 0;
  margin-top: 0.1rem;
  height: 0.2rem;
  background-color: transparent;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

#navbar .menu_content:hover .rectangle {
  background-color: var(--pink);
} */

#navbar .menu_content::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  opacity: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  height: 0.25rem;
  border-radius: 0.25rem;
  background: linear-gradient(to right, var(--pink), var(--green), var(--blue));
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#navbar .menu_content:hover::after {
  width: 100%;
  opacity: 1;
}
/* Desktop */

@media only screen and (min-width: 800px) {
  #navbar {
  background: url(assets/nav_gradient.webp) bottom center no-repeat;
  background-size: contain;
  background-color: var(--black);
  }
}

@media only screen and (min-width: 1200px){
  #navbar {
      padding: 0 8rem 1rem;
  }

  #navbar .sig_img {
    visibility: visible;
    display: block;
    width: 8rem;
    height: auto;
  }
}

@media only screen and (min-width: 1800px){
  #navbar {
      padding: 0 12rem 1rem;
  }
}

@media only screen and (min-width:2300px){
  #navbar {
  background: url(assets/nav_gradient_lg.webp) bottom center no-repeat;
  background-size: contain;
  background-color: var(--black);
  }
}


/* WELCOME */

/* Mobile */

#welcome {
  position: relative;
  padding: 8rem 0 8rem;
  background: url(assets/welcome_curve_m.webp) bottom center no-repeat;
  background-size: 100%;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 0 -.3rem 0 var(--black);
}

#welcome .iframe_container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

#welcome iframe {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  align-items: stretch;
  top: 0;
  left: 0;
  border: none;
  user-select: none;
  pointer-events: none;
}

#welcome .w_left {
  position: relative;
  margin: 0 2rem;
  text-align: center;
  width: fit-content;
  z-index: 1;
}

#welcome .job_title {
  color: var(--white);
  font-size: 2.8rem;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
}

#welcome .name {
  font-size: 1.75rem;
  width: fit-content;
  margin: 0.5rem auto 0;
}

#welcome .job_title, #welcome .name {
  line-height: 1;
}

#welcome .socials {
  margin: 3rem auto 0;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#welcome .socials svg {
  width: 2rem;
  height: auto;
  transition: opacity 0.2s ease-in-out, fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

#welcome .socials .e_svg {
  stroke: var(--dk-gray);
  width: 2.2rem;
  opacity: 0.7;
}

#welcome .socials .e_svg:hover {
  stroke: var(--black);
  opacity: 1;
}

#welcome .socials .l_svg {
  fill: var(--dk-gray);
  width: 1.7rem;
  opacity: 0.7;
}

#welcome .socials .l_svg:hover {
  fill: var(--black);
  width: 1.7rem;
  opacity: 1;
}

#welcome .w_right {
  position: relative;
  width: fit-content;
  margin: 0 2rem;
  z-index: 1;
}

#welcome .portrait {
  width: 15rem;
  height: auto;
  margin-bottom: 2rem;
  filter: drop-shadow(0 0 1rem rgba(21, 21, 21, 0.2));
}

/* Tablet */

@media only screen and (min-width:410px) {

  #welcome .job_title {
      font-size: 2.75rem;
  }

  #welcome .name {
      font-size: 2rem;
  }
}

@media only screen and (min-width:800px) {
  #welcome {
    background: url(assets/welcome_curve.webp) bottom center no-repeat;
    background-size: 100%;
    background-color: var(--blue);
  }

  #welcome .job_title {
      font-size: 3.5rem;
  }

  #welcome .name {
      font-size: 2.5rem;
  }
}

/* Desktop */

@media only screen and (min-width:1200px) {
  #welcome {
    padding: 6rem 8rem;
  }

  /* #welcome {
    padding: 11rem 8rem 8rem;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  #welcome .w_right {
    margin: 0;
    width: max-content;
  }
  #welcome .w_left {
      min-width: 20rem;
      margin: 0 auto 0 0;
      text-align: left;
  }
  #welcome .job_title {
    color: var(--white);
    font-size: 2.75rem;
    margin: 0 -0.15rem;
  }

  #welcome .name {
    font-size: 2.25rem;
    width: fit-content;
    margin: 0;
  }

  #welcome .job_title, #welcome .name {
    line-height: 1;
  }

  #welcome .socials {
    margin-top: 1rem;
    width: fit-content;
    display: inline-flex;
    gap: 1rem;
  }

  #welcome .portrait {
    width: 13rem;
    margin: 0 0 0 auto;
  } */
}

/* @media only screen and (min-width:1400px) {
  #welcome .portrait {
    width: 16rem;
  }
} */

@media only screen and (min-width:1800px) {
  #welcome {
      padding: 6rem 12rem;
  }

  #welcome .job_title {
    font-size: 3.5rem;
  }

  #welcome .name {
    font-size: 2.5rem;
  }

  #welcome .portrait {
    width: 16rem;
  }
}

  @media only screen and (min-width:2300px) {
  #welcome {
      padding: 8rem 12rem 10rem;
  }

  #welcome .job_title {
    font-size: 3.5rem;
  }

  #welcome .name {
    font-size: 2.5rem;
  }

  #welcome .portrait {
    width: 16rem;
  }
}


/* PORTFOLIO */

/* Mobile */

#portfolio {
  background-color: var(--black);
  padding-bottom: 2rem;
}

#portfolio h2 {
  width: 100%;
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  color: var(--white);
  background-color: rgba(21, 21, 21, 0.3)
}

#portfolio .cards_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#portfolio .card {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 15rem;
  margin-bottom: 1rem;
  transition: box-shadow 0.2s ease-in-out;
}



#portfolio .card h3 {
  font-size: 1.5;
}

#portfolio .card.pre1 {
  background: url(assets/boogie_foreground.png) top no-repeat, url(assets/boogie_background.png) left 75% no-repeat;
  background-size: 70%, cover;
  box-shadow: 0 0 0 0.3rem var(--pink) inset;
  image-rendering: pixelated;
}

#portfolio .card.pre2 {
  background: url(assets/clockwork_foreground.png) left center no-repeat, url(assets/clockwork_background.jpg) right top no-repeat;
  background-size: 60%, cover;
  box-shadow: 0 0 0 0.3rem var(--green) inset;
}

#portfolio .card.pre3 {
  background: url(assets/pharaohs_foreground.webp) 85% center no-repeat, url(assets/pharaohs_background.jpg) top center no-repeat;
  background-size: 35%, cover;
  box-shadow: 0 0 0 0.3rem var(--blue) inset;
}

#portfolio .pre_a {
  display: block;
  width: 100%;
  align-items: stretch;
  background-color: transparent;
  transition: background-color 0.15s ease-in-out;
}

#portfolio .pre_a:hover {
  background-color: rgba(241, 241, 241, 0.03);
}

#portfolio .card.pre1:hover {
  box-shadow: 0 0 0 0.75rem var(--lt-pink) inset;
}

#portfolio .card.pre2:hover {
  box-shadow: 0 0 0 0.75rem var(--lt-green) inset; 
}

#portfolio .card.pre3:hover {
  box-shadow: 0 0 0 0.75rem var(--lt-blue) inset; 
}



#portfolio .card.pre1:focus-within {
  box-shadow: 0 0 0 1rem var(--lt-pink) inset;
}

#portfolio .card.pre2:focus-within {
  box-shadow: 0 0 0 1rem var(--lt-green) inset; 
}

#portfolio .card.pre3:focus-within {
  box-shadow: 0 0 0 1rem var(--lt-blue) inset; 
}

#portfolio .card.pre1:focus-within .v_more {
    background-color: var(--lt-pink);
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
}

#portfolio .card.pre2:focus-within .v_more {
    background-color: var(--lt-green);
    padding-right: 1.25rem;
    padding-bottom: 1.25rem; 
}

#portfolio .card.pre3:focus-within .v_more {
    background-color: var(--lt-blue);
    padding-right: 1.25rem;
    padding-bottom: 1.25rem; 
}

#portfolio .pre_a:focus-visible {
  outline: none;
}

#portfolio .v_more {
  position: absolute;
  display: block;
  padding: 0.25rem 0.5rem 0.25rem 0.6rem;
  border-radius: 0.25rem 0 0 0;
  font-weight: 700;
  bottom: 0;
  right: 0;
  transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

#portfolio .pre_a:hover .v_more {
  padding-right: 1rem;
  padding-bottom: 0.75rem;
}

#portfolio .card.pre1 .v_more {
    background-color: var(--pink);
}

#portfolio .card.pre1 .pre_a:hover .v_more {
    background-color: var(--lt-pink);
}

#portfolio .card.pre2 .v_more {
    background-color: var(--green);
}

#portfolio .card.pre2 .pre_a:hover .v_more {
    background-color: var(--lt-green);
}

#portfolio .card.pre3 .v_more {
    background-color: var(--blue);
}

#portfolio .card.pre3 .pre_a:hover .v_more {
    background-color: var(--lt-blue);
}

/* #portfolio .v_more {
  background-color: var(--white);
  opacity: 1;
  color: var(--black);
  margin: 1rem auto;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#portfolio .v_more:hover {
  background-color: var(--lt-gray);
  opacity: 0.85;
}

#portfolio .v_more {
  font-size: 1.25rem;
  font-weight: 700;
  width: max-content;
  display: block;
  padding: 0.25rem 2rem;
  border-radius: 0.25rem;
} */

/* Desktop */

@media only screen and (min-width:1200px) {

  #portfolio .cards_container {
      animation: none;
      padding: 0;
      margin: 0 8rem;
      gap: 1rem;
  }

  #portfolio .card {
    border-radius: 0.25rem;
    height: 12rem;
  }

  #portfolio .v_more {
    padding-left: 0.75rem;
    padding-top: 0.35rem;
  }
}

@media only screen and (min-width:1800px) {

  #portfolio .cards_container {
      gap: 2rem;
      margin: 0 12rem;
  }

  #portfolio .card {
    height: 20rem;
  }
  #portfolio .card.pre2 {
    background-size: 50%, cover;
  }
}

@media only screen and (min-width:2300px) {
    #portfolio .card {
    height: 22rem;
  }
    #portfolio .card.pre1 {
    background: url(assets/boogie_foreground.png) top no-repeat, url(assets/boogie_background.png) left 75% no-repeat;
    background-size: 55%, cover;
    box-shadow: 0 0 0 0.5rem var(--pink) inset;
    image-rendering: pixelated;
  }

  #portfolio .card.pre2 {
    box-shadow: 0 0 0 0.5rem var(--green) inset;
  }

  #portfolio .card.pre3 {
  background: url(assets/pharaohs_foreground.webp) 85% center no-repeat, url(assets/pharaohs_background.jpg) top center no-repeat;
  background-size: 27%, cover;
  box-shadow: 0 0 0 0.5rem var(--blue) inset;
}
}


/* QUALIFICATIONS */

/* Mobile */


/* #qualifications {
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: var(--white);
  padding: 2rem 0 3rem;
  box-shadow: 0 1rem 1.25rem -0.85rem var(--black) inset, 0 -1rem 1.25rem -0.85rem var(--black) inset;
}

#qualifications h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

#qualifications .quals_folder {
  margin: 0 2rem;
}

#qualifications .quals_container {
  margin: 0;
  height: 30rem;
  position: relative;
}

#qualifications .quals_pink {
  background-color: rgb(165, 116, 133);
  border-radius: 0 0.25rem 0.25rem 0.25rem;
}
#qualifications .quals_blue {
  background-color: var(--blue);
  border-radius: 0.25rem 0.25rem;
}
#qualifications .quals_green {
  background-color: rgb(119, 130, 86);
  border-radius: 0.25rem 0 0.25rem 0.25rem;
}

#qualifications .quals_pink.active {
  background-color: var(--lt-pink);
  border-top: 1rem solid var(--pink);
  border-left: 0.5rem solid var(--pink);
  border-right: 0.5rem solid var(--pink);
  border-bottom: 0.5rem solid var(--pink);
  z-index: 15;
  
}
#qualifications .quals_blue.active {
  background-color: var(--lt-blue);
  border-top: 1rem solid var(--blue);
  border-left: 0.5rem solid var(--blue);
  border-right: 0.5rem solid var(--blue);
  border-bottom: 0.5rem solid var(--blue);
  z-index: 15;
}
#qualifications .quals_green.active {
  background-color: var(--lt-green);
  border-top: 1rem solid var(--green);
  border-left: 0.5rem solid var(--green);
  border-right: 0.5rem solid var(--green);
  border-bottom: 0.5rem solid var(--green);
  z-index: 15;
}

#qualifications .quals {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 30rem;
  padding: 1rem;
}

#qualifications .quals h3 {
  font-size: 1.75rem;
  text-align: center;
}

#qualifications .quals p {
  font-size: 1.1rem;
  text-align: center;
}

#qualifications .qual_sub {
  font-weight: 700;
  margin-top: 1rem;
}

#qualifications .quals_img {
  display: block;
  margin: 1rem auto;
  width: 100%;
  max-width: 20rem;
  height: auto;
  border-radius: 0.25rem;
}

#qualifications .quals_pink .quals_img {
  border: 0.35rem solid var(--pink);
}

#qualifications .quals_blue .quals_img {
  border: 0.35rem solid var(--blue);
}

#qualifications .quals_green .quals_img {
  border: 0.35rem solid var(--green);
}

#qualifications .quals_btns_container {
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: flex-end;
  gap: 0.175rem;
}

#qualifications .quals_btns {
  width: 100%;
  padding: 0.75rem 0 0.5rem;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto;
  border-radius: 0.25rem 0.25rem 0 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 -0.8rem 0.8rem -0.8rem rgba(21, 21, 21, 0.5) inset;
  transition: padding 0.2s ease-out;
}

#qualifications .quals_btns:hover {
  padding-bottom: 0.75rem;
}

#qualifications .quals_btns.btn_active {
  z-index: 3;
  cursor:auto;
  box-shadow: none;
  padding-bottom: 0.75rem;
}

#qualifications .quals_btn_pink {
  background-color: var(--pink);
}

#qualifications .quals_btn_blue {
  background-color: var(--blue);
}

#qualifications .quals_btn_green {
  background-color: var(--green);
}


Desktop

@media only screen and (min-width:1200px) {
  #qualifications .quals_folder{
    margin: 0 8rem;
  }

  #qualifications .quals_btns_container {
    width: 50%;
    margin: 0;
  }

  #qualifications .quals_btns.btn_active {
    padding: 1rem 0 1rem;
  }

  #qualifications .quals_green {
    border-radius: 0.25rem;
  }

  #qualifications .quals_btns {
    font-size: 1.1rem;
  }

  #qualifications .quals {
    height: 20rem;
  }

  #qualifications .quals_container {
    margin: 0 0 5rem;
    height: 20rem;
  }

  #qualifications .quals_inside {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  #qualifications .quals_content {
  margin-left: 1rem;
  }

  #qualifications .quals h3, #qualifications .quals p {
    text-align: left;
  }

  #qualifications .quals_img {
    width: 45%;
    max-width: 20rem;
    margin-left: auto;
    margin-right: 0;
  }
}

@media only screen and (min-width:1800px) {
  #qualifications .quals_btns {
    font-size: 1.2rem;
  }

  #qualifications .quals_folder{
    margin: 0 12rem;
  }
}
 */

/* TIMELINE */

/* Mobile */

#timeline {
  width: 100%;
  background-color: var(--black);
}

#timeline .timeline_container {
  margin: 2rem 2rem 0;
  padding: 3rem 0;
  background: url(assets/timeline_bar.webp) center no-repeat;
  background-size: contain;
  /* box-shadow: inset 0 -0.5rem 1.5rem 2rem var(--black), inset 0 0.5rem 1.5rem 2rem var(--black); */
}

#timeline h2 {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

#timeline .time_point .date {
  font-size: 1rem;
  font-weight: 700;
  color: var(--lt-gray);
  opacity: 0.8;
  margin: 0;
}
#timeline .time_point h3 {
  color: var(--lt-gray);
  font-size: 1.15rem;
}

#timeline .time_point p {
  color: var(--m-gray);
  font-size: 0.8rem;
  opacity: 0.8;
  margin-top: 0.5rem;
}



#timeline .time_point {
  margin: 2rem 0 0;
}

#timeline .time_point:first-child {
  margin-top: 0;
}

#timeline .time_point:nth-child(odd) {
  text-align: left;
  margin-left: 55%;
}

#timeline .time_point:nth-child(even) {
  text-align: right;
  margin-right: 55%;
}

@media only screen and (min-width:800px) {
  /* #timeline .timeline_container {
    background-image: url(assets/timeline_bar_d.webp);
  } */

  #timeline .time_point .date {
    font-size: 1.25rem;
  }
#timeline .time_point h3 {
    font-size: 1.5rem;
  }

#timeline .time_point p {
    font-size: 0.9rem;
  }

  #timeline .time_point:nth-child(odd) {
  margin-left: 53%;
}

#timeline .time_point:nth-child(even) {
  margin-right: 53%;
}
}

/* CONTACT */

/* Mobile */

#contact {
  background-color: var(--black);
  width: 100%;
  padding: 3rem 0;
}

#contact .contact_head {
  display: flex;
  align-items: center;
  margin: 2rem 2rem 2rem;
}

#contact .contact_head img {
  width: 6.5rem;
  height: auto;
  color: var(--lt-gray);
}

#contact .contact_img .h_circle{
  transform-origin: 50% 50%;
  animation: spin 1s linear infinite;
}

#contact .contact_img .h_circle{
  animation: spin 1s linear infinite;
}

#contact .contact_title {
  width: fit-content;
  display: block;
  margin-left: 1rem;
  padding-top: 0.5rem;
}

#contact .contact_title h2 {
  font-size: 2.25rem;
  color: var(--white);
  line-height: 2.2rem;
}

#contact .contact_title a {
  font-size: 0.9rem;
  margin-left: 0.2rem;
  color: var(--green);
  opacity: 0.75;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
}

#contact .contact_title a {
  position: relative;
  padding: 0 0 0.5rem;
  font-size: 0.9rem;
  margin-left: 0.2rem;
  color: var(--green);
  background: linear-gradient(to right, var(--pink), var(--pink), var(--green), var(--green), var(--blue), var(--blue));
  background-clip: text;
  opacity: 0.75;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* #contact .contact_title a:hover {
  color: var(--lt-green);
  opacity: 1;
} */

#contact .contact_title a:hover {
  color: transparent;
  background-clip: text;
  opacity: 1;
}

#contact .contact_title a::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  opacity: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  height: 0.2rem;
  border-radius: 0.25rem;
  background: linear-gradient(to right, var(--pink), var(--pink), var(--green), var(--green), var(--blue), var(--blue));
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#contact .contact_title a:hover::after {
  width: 100%;
  opacity: 1;
}

#contact .contact_form {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: block;
  border-radius: 2rem;
}

#contact .contact_inputs {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: var(--dk-gray);
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  display: block;
  letter-spacing: 0.1rem;
}

#contact .contact_inputs:hover {
  background-color: var(--gray);
}

#contact .contact_inputs:hover::placeholder {
  color: var(--m-gray);
}

#contact .contact_inputs:focus-visible {
  background-color: var(--gray);
  color: var(--lt-gray);
  outline: 0.2rem solid var(--green);
}

#contact .contact_inputs:focus-visible::placeholder{
  color: var(--m-gray);
}

#contact .email_input {
  height: 4rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

#contact .textarea_input {
  height: 8rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  resize: none;
}

#contact .submit_btn {
  display: block;
  padding: 0.5rem 5rem;
  background-color: var(--green);
  color: var(--black);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

#contact .submit_btn:hover {
  background-color: var(--lt-green);
  color: var(--black);
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {

  #contact .contact_head {
    margin: 0 8rem;
  }

  #contact .contact_form {
    width: auto;
    margin: 0 8rem;
    padding: 0;
  }
}

@media only screen and (min-width: 1800px) {

  #contact .contact_head {
    margin: 0 12rem;
  }

  #contact .contact_form {
    margin: 0 12rem;
  }
}

/* FOOTER */

/* Mobile */

#foot {
  background-color: var(--black);
}

#foot .s_links {
  color: var(--lt-gray);
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  font-weight: 700;
}

#foot .s_links svg {
  width: 2rem;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out, fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

#foot .s_links .e_svg {
  stroke: var(--gray);
  width: 2.2rem;
}

#foot .s_links .e_svg:hover {
  stroke: var(--lt-gray);
  opacity: 1;
}

#foot .s_links .l_svg {
  fill: var(--gray);
  width: 1.7rem;
}

#foot .s_links .l_svg:hover {
  fill: var(--lt-gray);
}

#foot p {
  color: var(--dk-gray);
  font-size: 0.9rem;
  width: fit-content;
  margin: 1rem auto 0;
  padding-bottom: 1rem;
}