/* Variables */

:root {
  --orange: rgb(246, 223, 188);
  --green: rgb(168, 184, 118);
  --lt-green: rgb(202, 223, 145);
  --pink: rgb(240, 166, 192);
  --lt-pink: rgb(247, 197, 214);
  --blue: rgb(166, 207, 201);
  --lt-blue: rgb(190, 235, 228);
  
  --black: rgb(21, 21, 21);
  --white: rgb(241, 241, 241);
  --lt-gray: rgb(216, 216, 216);
  --m-gray: rgb(129, 129, 129);
  --gray: rgb(78, 78, 78);
  --dk-gray: rgb(59, 59, 59);

  --fonts: 'roboto',sans-serif;font-size:7px;
}

/* Viewport */

:root {
  font-size: 10px;
}

@media only screen and (min-width: 380px) {
  :root {
      font-size: 14px;
  }
}

@media only screen and (min-width: 410px) {
  :root {
      font-size: 16px;
  }
}

@media only screen and (min-width: 800px) {
  :root {
      font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
      font-size: 24px;
  }
}

@media only screen and (min-width: 1800px) {
  :root {
      font-size: 26px;
  }
}

/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  color: var(--black);
  font-family: var(--fonts);
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: 0.2rem solid var(--orange);
  border-radius: 0.25rem;
}

::selection {
  background-color: var(--orange);
  color: var(--black);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  font-size: .75rem;
}

input, button, textarea, select {
  font: inherit;
}

a, button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

ul {
  list-style-type: none;
  padding: 0;
}


/* Custom Styles */

/* NAVBAR */

/* Mobile */

#navbar {
  padding: 0 2rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  z-index: 100;
  position: fixed;
  /* box-shadow: 0 0 0.75rem 1rem var(--black); */
  box-shadow: 0 -0.75rem 1rem 1rem rgba(21, 21, 21, 0.8);

}

#navbar .home_pic_link {
  padding: 0.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#navbar .home_img {
  color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
}

#navbar .sig_img {
  visibility: hidden;
  display: none;
  width: 0;
}

#navbar .home_pic_link * {
  transform-origin: 50% 50%;
}

#navbar .home_pic_link svg {
  shape-rendering: auto;
}

#navbar .home_pic_link:hover .home_img .h_circle{
  animation: spin 0.4s linear infinite
}

#navbar .home_pic_link .home_img .h_crown{
  position: absolute;
}

#navbar .home_pic_link:hover .home_img .h_crown{
  animation: shake 1.2s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  from {
    transform: translate(17.3%, 26.5%);
  }
  50% {
    transform: translate(18.2%, 29%);
  }
  to {
    transform: translate(17.3%, 26.5%);
  }
}

#navbar .menu {
  width: fit-content;
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

#navbar .nav_item {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--white);
  padding: 0.25rem 0.25rem 0.25rem;
  border-bottom: 0.25rem solid transparent;
  border-radius: 0.25rem;
  -webkit-tap-highlight-color: rgba(240, 166, 192, 0.3);
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#navbar .nav_item:hover {
  color: var(--pink);
  border-bottom: 0.25rem solid var(--pink);
}

/* Desktop */

@media only screen and (min-width: 1200px){
  #navbar {
      padding: 0 8rem;
  }

  #navbar .sig_img {
    visibility: visible;
    display: block;
    width: 8rem;
    height: auto;
  }
}

@media only screen and (min-width: 1800px){
  #navbar {
      padding: 0 12rem;
  }
}


/* WELCOME */

/* Mobile */

#welcome {
  padding: 12rem 0 8rem;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#welcome .w_left {
  margin: 0 2rem;
  text-align: center;
}

#welcome .job_title {
  color: var(--white);
  font-size: 2.8rem;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
}

#welcome .name {
  font-size: 1.75rem;
  width: fit-content;
  margin: 0.5rem auto 0;
}

#welcome .job_title, #welcome .name {
  line-height: 1;
}

#welcome .socials {
  margin: 3rem auto 0;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#welcome .socials svg {
  width: 2rem;
  height: auto;
  transition: opacity 0.2s ease-in-out, fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

#welcome .socials .e_svg {
  stroke: var(--dk-gray);
  width: 2.2rem;
  opacity: 0.7;
}

#welcome .socials .e_svg:hover {
  stroke: var(--black);
  opacity: 1;
}

#welcome .socials .l_svg {
  fill: var(--dk-gray);
  width: 1.7rem;
  opacity: 0.7;
}

#welcome .socials .l_svg:hover {
  fill: var(--black);
  width: 1.7rem;
  opacity: 1;
}

#welcome .w_right {
  width: fit-content;
  margin: 0 2rem;
}

#welcome .portrait {
  margin-top: 3rem;
  width: fit-content;
}

/* Tablet */

@media only screen and (min-width:410px) {
  #welcome .job_title {
      font-size: 2.75rem;
  }

  #welcome .name {
      font-size: 2rem;
  }
}

/* Desktop */

@media only screen and (min-width:1200px) {
  #welcome {
      padding: 11rem 6rem 8rem;
      flex-direction: row;
  }

  #welcome .w_left {
      margin: 0 auto 0 2rem;
      text-align: left;
  }

  #welcome .job_title {
      color: var(--white);
      font-size: 3.25rem;
      margin: 0 -0.15rem;
  }

  #welcome .name {
      font-size: 2.25rem;
      width: fit-content;
      margin: 0;
  }

  #welcome .job_title, #welcome .name {
      line-height: 1;
  }

  #welcome .socials {
      margin-top: 1rem;
      width: fit-content;
      display: inline-flex;
      gap: 1rem;
  }

  #welcome .w_right {
      width: fit-content;
      margin: 0 2rem 0 auto;
  }

  #welcome .portrait {
      margin-top: 0;
      width: fit-content;
  }
}

@media only screen and (min-width:1800px) {
  #welcome {
      padding: 14rem 10rem 11em;
  }
}


/* PORTFOLIO */

/* Mobile */

#portfolio {
  background-color: var(--black);
  padding-bottom: 2rem;
}

#portfolio h2 {
  width: 100%;
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  color: var(--white);
  background-color: rgba(21, 21, 21, 0.3)
}

#portfolio .cards_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#portfolio .card {
  display: flex;
  width: 100%;
  height: 15rem;
  margin-bottom: 1rem;
  transition: box-shadow 0.2s ease-in-out;
}



#portfolio .card h3 {
  font-size: 1.5;
}

#portfolio .card.pre1 {
  background: url(assets/boogie_foreground.png) top no-repeat, url(assets/boogie_background.png) left 75% no-repeat;
  background-size: 70%, cover;
  box-shadow: 0 0 0 0.3rem var(--pink) inset;
  image-rendering: pixelated;
}

#portfolio .card.pre2 {
  background: url(assets/clockwork_foreground.png) left center no-repeat, url(assets/clockwork_background.jpg) right top no-repeat;
  background-size: 60%, cover;
  box-shadow: 0 0 0 0.3rem var(--green) inset;
}

/* #portfolio .card.pre3 {
  background: url(assets/) left center no-repeat, url(assets/) right top no-repeat;
  background-size: 60%, cover;
  box-shadow: 0 0 0 0.3rem var(--blue) inset;
} */

#portfolio .pre_a {
  display: block;
  width: 100%;
  align-items: stretch;
}

#portfolio .card.pre1:hover {
  box-shadow: 0 0 0 0.75rem var(--lt-pink) inset;
}

#portfolio .card.pre2:hover {
  box-shadow: 0 0 0 0.75rem var(--lt-green) inset; 
}

/* #portfolio .card.pre3:hover {
  box-shadow: 0 0 0 0.75rem var(--lt-blue) inset; 
} */



#portfolio .card.pre1:focus-within {
  box-shadow: 0 0 0 1rem var(--lt-pink) inset;
}

#portfolio .card.pre2:focus-within {
  box-shadow: 0 0 0 1rem var(--lt-green) inset; 
}

/* #portfolio .card.pre3:focus-within {
  box-shadow: 0 0 0 1rem var(--lt-blue) inset; 
} */

#portfolio .pre_a:focus-visible {
  outline: none;
}

#portfolio .v_more {
  background-color: var(--white);
  opacity: 1;
  color: var(--black);
  margin: 1rem auto;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#portfolio .v_more:hover {
  background-color: var(--lt-gray);
  opacity: 0.85;
}

#portfolio .v_more {
  font-size: 1.25rem;
  font-weight: 700;
  width: max-content;
  display: block;
  padding: 0.25rem 2rem;
  border-radius: 0.25rem;
}

/* Desktop */

@media only screen and (min-width:1200px) {

  #portfolio .cards_container {
      animation: none;
      flex-direction: row;
      padding: 0;
      margin: 0 8rem;
      gap: 1rem;
  }

  #portfolio .card {
    border-radius: 0.25rem;
    height: 12rem;
  }
}

@media only screen and (min-width:1800px) {

  #portfolio .cards_container {
      gap: 2rem;
      margin: 0 12rem;
  }

  #portfolio .card {
    height: 20rem;
  }
}


/* QUALIFICATIONS */

/* Mobile */


#qualifications {
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: var(--white);
  padding: 2rem 0 3rem;
  box-shadow: 0 1rem 1.25rem -0.85rem var(--black) inset, 0 -1rem 1.25rem -0.85rem var(--black) inset;
}

#qualifications h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

#qualifications .quals_folder {
  width: 90%;
  margin: 0 auto;
}
#qualifications .quals_container {
  margin: 0;
  height: 30rem
}

#qualifications .quals_pink {
  background-color: rgb(165, 116, 133);
  border-radius: 0 0.25rem 0.25rem 0.25rem;
}
#qualifications .quals_blue {
  background-color: var(--blue);
  border-radius: 0.25rem 0.25rem;
}
#qualifications .quals_green {
  background-color: rgb(119, 130, 86);
  border-radius: 0.25rem 0 0.25rem 0.25rem;
}

#qualifications .quals_pink.active {
  background-color: var(--lt-pink);
  border-top: 1rem solid var(--pink);
  border-left: 0.5rem solid var(--pink);
  border-right: 0.5rem solid var(--pink);
  border-bottom: 0.5rem solid var(--pink);
  position: absolute;
  z-index: 15;
  
}
#qualifications .quals_blue.active {
  background-color: var(--lt-blue);
  border-top: 1rem solid var(--blue);
  border-left: 0.5rem solid var(--blue);
  border-right: 0.5rem solid var(--blue);
  border-bottom: 0.5rem solid var(--blue);
  position: absolute;
  z-index: 15;
}
#qualifications .quals_green.active {
  background-color: var(--lt-green);
  border-top: 1rem solid var(--green);
  border-left: 0.5rem solid var(--green);
  border-right: 0.5rem solid var(--green);
  border-bottom: 0.5rem solid var(--green);
  position: absolute;
  z-index: 15;
}

#qualifications .quals {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 30rem;
  padding: 1rem;
}

#qualifications .quals h3 {
  font-size: 1.75rem;
  text-align: center;
}

#qualifications .quals p {
  font-size: 1.1rem;
  text-align: center;
}

#qualifications .qual_sub {
  font-weight: 700;
  margin-top: 1rem;
}

#qualifications .quals_img {
  display: block;
  margin-top: 1rem;
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

#qualifications .quals_pink .quals_img {
  border: 0.35rem solid var(--pink);
}

#qualifications .quals_blue .quals_img {
  border: 0.35rem solid var(--blue);
}

#qualifications .quals_green .quals_img {
  border: 0.35rem solid var(--green);
}

#qualifications .quals_btns_container {
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: flex-end;
  gap: 0.175rem;
}

#qualifications .quals_btns {
  width: 100%;
  padding: 0.75rem 0 0.5rem;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto;
  border-radius: 0.25rem 0.25rem 0 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 -0.8rem 0.8rem -0.8rem rgba(21, 21, 21, 0.5) inset;
  transition: padding 0.2s ease-out;
}

#qualifications .quals_btns:hover {
  padding-bottom: 0.75rem;
}

#qualifications .quals_btns.btn_active {
  z-index: 3;
  cursor:auto;
  box-shadow: none;
  padding-bottom: 0.75rem;
}

#qualifications .quals_btn_pink {
  background-color: var(--pink);
}

#qualifications .quals_btn_blue {
  background-color: var(--blue);
}

#qualifications .quals_btn_green {
  background-color: var(--green);
}



/* Desktop */
@media only screen and (min-width:1200px) {
  #qualifications .quals_folder{
    width: 100%;
  }

  #qualifications .quals_btns_container {
    width: 50%;
    margin-left: 12.5%;
  }

  #qualifications .quals_btns.btn_active {
    padding: 1rem 0 1rem;
  }

  #qualifications .quals_green {
    border-radius: 0.25rem;
  }

  #qualifications .quals_btns {
    font-size: 1.1rem;
  }

  #qualifications .quals {
    width: 75%;
    height: 20rem;
  }

  #qualifications .quals_container {
    width: 75%;
    margin: 0 auto 5rem;
    height: 20rem;
  }

  #qualifications .quals_inside {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  #qualifications .quals_content {
  margin-left: 1rem;
  }

  #qualifications .quals h3, #qualifications .quals p {
    text-align: left;
  }

  #qualifications .quals_img {
    width: 45%;
    max-width: 20rem;
    margin-left: auto;
  }
}

@media only screen and (min-width:1800px) {
  #qualifications .quals_btns {
    font-size: 1.2rem;
  }
}


/* CONTACT */

/* Mobile */

#contact {
  background-color: var(--black);
  width: 100%;
  padding: 1rem 0 3rem;
}

#contact .contact_head {
  display: flex;
  align-items: center;
  margin: 2rem 2rem 2rem;
}

#contact .contact_head img {
  width: 6.5rem;
  height: auto;
  color: var(--lt-gray);
}

#contact .contact_img .h_circle{
  transform-origin: 50% 50%;
  animation: spin 1s linear infinite;
}

#contact .contact_img .h_circle{
  animation: spin 1s linear infinite;
}

#contact h2 {
  width: fit-content;
  display: block;
  font-size: 2.25rem;
  color: var(--white);
  margin-left: 1rem;
  padding-top: 0.5rem;
}

#contact .contact_form {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: block;
  border-radius: 2rem;
}

#contact .contact_inputs {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: var(--dk-gray);
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  display: block;
  letter-spacing: 0.1rem;
}

#contact .contact_inputs:hover {
  background-color: var(--gray);
}

#contact .contact_inputs:hover::placeholder {
  color: var(--m-gray);
}

#contact .contact_inputs:focus-visible {
  background-color: var(--gray);
  color: var(--lt-gray);
  outline: 0.2rem solid var(--green);
}

#contact .contact_inputs:focus-visible::placeholder{
  color: var(--m-gray);
}

#contact .email_input {
  height: 4rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

#contact .textarea_input {
  height: 8rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  resize: none;
}

/* #contact .name_inputs {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
}

#contact .name_inputs .contact_inputs {
  margin: 0;
} */

#contact .submit_btn {
  display: block;
  padding: 0.5rem 5rem;
  background-color: var(--green);
  color: var(--black);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

#contact .submit_btn:hover {
  background-color: var(--lt-green);
  color: var(--black);
  cursor: pointer;
}


/* FOOTER */

/* Mobile */

#foot {
  background-color: var(--black);
}

#foot .s_links {
  color: var(--lt-gray);
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  font-weight: 700;
}

#foot .s_links svg {
  width: 2rem;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out, fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

#foot .s_links .e_svg {
  stroke: var(--gray);
  width: 2.2rem;
}

#foot .s_links .e_svg:hover {
  stroke: var(--lt-gray);
  opacity: 1;
}

#foot .s_links .l_svg {
  fill: var(--gray);
  width: 1.7rem;
}

#foot .s_links .l_svg:hover {
  fill: var(--lt-gray);
}

#foot p {
  color: var(--dk-gray);
  font-size: 0.9rem;
  width: fit-content;
  margin: 1rem auto 0;
  padding-bottom: 1rem;
}