/* Variables */

:root {
  --orange: rgb(246, 223, 188);
  --green: rgb(168, 184, 118);
  --lt-green: rgb(187, 207, 136);
  --pink: rgb(240, 166, 192);
  --lt-pink: rgb(247, 197, 214);
  --blue: rgb(166, 207, 201);
  --lt-blue: rgb(190, 235, 228);
  
  --black: rgb(21, 21, 21);
  --white: rgb(241, 241, 241);
  --lt-gray: rgb(216, 216, 216);
  --m-gray: rgb(129, 129, 129);
  --gray: rgb(78, 78, 78);
  --dk-gray: rgb(59, 59, 59);

  --fonts: 'roboto',sans-serif;font-size:7px;
}

/* Viewport */

:root {
  font-size: 10px;
}

@media only screen and (min-width: 380px) {
  :root {
      font-size: 14px;
  }
}

@media only screen and (min-width: 410px) {
  :root {
      font-size: 16px;
  }
}

@media only screen and (min-width: 800px) {
  :root {
      font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
      font-size: 24px;
  }
}

@media only screen and (min-width: 1800px) {
  :root {
      font-size: 26px;
  }
}

/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  color: var(--black);
  font-family: var(--fonts);
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: 0.2rem solid var(--orange);
  border-radius: 0.25rem;
}

::selection {
  background-color: var(--orange);
  color: var(--black);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  font-size: .75rem;
}

input, button, textarea, select {
  font: inherit;
}

a, button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

ul {
  list-style-type: none;
  padding: 0;
}


/* Custom Styles */

/* NAVBAR */

/* Mobile */

#navbar {
  padding: 0 2rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  z-index: 100;
  position: fixed;
  /* box-shadow: 0 0 0.75rem 1rem var(--black); */
  box-shadow: 0 -0.75rem 1rem 1rem rgba(21, 21, 21, 0.8);

}

#navbar .home_pic_link {
  padding: 0.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#navbar .home_img {
  color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
}

#navbar .sig_img {
  visibility: hidden;
  display: none;
  width: 0;
}

#navbar .home_pic_link * {
  transform-origin: 50% 50%;
}

#navbar .home_pic_link:hover .home_img .h_circle{
  animation: spin 0.3s linear infinite
}

#navbar .home_pic_link .home_img .h_crown{
  position: absolute;
}

#navbar .home_pic_link:hover .home_img .h_crown{
  animation: shake 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  from {
    transform: translate(17%, 26%);
  }
  50% {
    transform: translate(17.5%, 29%);
  }
  to {
    transform: translate(17%, 26%);
  }
}

#navbar .menu {
  width: fit-content;
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

#navbar .nav_item {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--white);
  padding: 0.25rem 0.25rem 0.25rem;
  border-bottom: 0.25rem solid transparent;
  -webkit-tap-highlight-color: rgba(240, 166, 192, 0.3);
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#navbar .nav_item:hover {
  color: var(--pink);
  border-bottom: 0.25rem solid var(--pink);
}

/* Desktop */

@media only screen and (min-width: 1200px){
  #navbar {
      padding: 0 8rem;
  }

  #navbar .sig_img {
    visibility: visible;
    display: block;
    width: 8rem;
    height: auto;
  }
}

@media only screen and (min-width: 1800px){
  #navbar {
      padding: 0 12rem;
  }
}


/* WELCOME */

/* Mobile */

#welcome {
  padding: 12rem 0 8rem;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#welcome .w_left {
  margin: 0 2rem;
  text-align: center;
}

#welcome .job_title {
  color: var(--white);
  font-size: 2.8rem;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
}

#welcome .name {
  font-size: 1.75rem;
  width: fit-content;
  margin: 0.5rem auto 0;
}

#welcome .job_title, #welcome .name {
  line-height: 1;
}

#welcome .socials {
  margin: 3rem auto 0;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#welcome .socials svg {
  width: 2rem;
  height: auto;
}

#welcome .socials .e_svg {
  stroke: var(--dk-gray);
  width: 2.2rem;
  opacity: 0.7;
}

#welcome .socials .e_svg:hover {
  stroke: var(--black);
  opacity: 1;
}

#welcome .socials .l_svg {
  fill: var(--dk-gray);
  width: 1.7rem;
  opacity: 0.7;
}

#welcome .socials .l_svg:hover {
  fill: var(--black);
  width: 1.7rem;
  opacity: 1;
}

#welcome .w_right {
  width: fit-content;
  margin: 0 2rem;
}

#welcome .portrait {
  margin-top: 3rem;
  width: fit-content;
}

/* Tablet */

@media only screen and (min-width:410px) {
  #welcome .job_title {
      font-size: 2.75rem;
  }

  #welcome .name {
      font-size: 2rem;
  }
}

/* Desktop */

@media only screen and (min-width:1200px) {
  #welcome {
      padding: 11rem 6rem 8rem;
      flex-direction: row;
  }

  #welcome .w_left {
      margin: 0 auto 0 2rem;
      text-align: left;
  }

  #welcome .job_title {
      color: var(--white);
      font-size: 3.25rem;
      margin: 0;
  }

  #welcome .name {
      font-size: 2.25rem;
      width: fit-content;
      margin: 0;
  }

  #welcome .job_title, #welcome .name {
      line-height: 1;
  }

  #welcome .socials {
      margin-top: 1rem;
      width: fit-content;
      display: inline-flex;
      gap: 1rem;
  }

  #welcome .w_right {
      width: fit-content;
      margin: 0 2rem 0 auto;
  }

  #welcome .portrait {
      margin-top: 0;
      width: fit-content;
  }
}

@media only screen and (min-width:1800px) {
  #welcome {
      padding: 14rem 10rem 11em;
  }
}


/* PORTFOLIO */

/* Mobile */

#portfolio {
  background-color: var(--dk-gray);
}

#portfolio h2 {
  width: 100%;
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  color: var(--white);
  background-color: rgba(21, 21, 21, 0.3)
}

#portfolio .cards_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#portfolio .card {
  width: 100%;
  height: 15rem;
  background-color: rgba(21, 21, 21, 0.3);
}

#portfolio .card * {
  color: var(--white);
}

#portfolio .card.pre2 {
  text-align: right;
}

#portfolio .card.pre1 .v_more {
  background-color: var(--pink);
  color: var(--black);
  opacity: 0.9;
}

#portfolio .card.pre1 .v_more:hover {
  background-color: var(--lt-pink);
  color: var(--black);
  opacity: 1;
}

#portfolio .card.pre2 .v_more {
  margin-left: auto;
  background-color: var(--green);
  color: var(--black);
  opacity: 0.9;
}

#portfolio .card.pre2 .v_more:hover {
  background-color: var(--lt-green);
  opacity: 1;
}

#portfolio .card.pre3 .v_more {
  background-color: var(--blue);
  color: var(--black);
  opacity: 0.9;
}

#portfolio .card.pre3 .v_more:hover {
  background-color: var(--lt-blue);
  opacity: 1;
}




#portfolio .card * {
  margin: 2rem;
}

#portfolio .v_more {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  width: max-content;
  display: block;
  padding: 0.25rem 2rem;
  border-radius: 2rem;
}

/* #portfolio {
  background-color: var(--white);
  margin-top: 2rem;
}

#portfolio h2 {
  width: fit-content;
  margin: 0 auto;
  font-size: 2rem;
}

#portfolio .carousel {
  margin: 1rem auto;
  padding: 2rem;
  background-color: var(--gray);
  box-shadow: 0 0 1rem -0.75rem var(--black) inset;
  display: flex;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

#portfolio .carousel::-webkit-scrollbar {
  display: none;
}

#portfolio .car_btn {
  border: 0.25rem solid var(--black);
  position: absolute;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

#portfolio .c_left {
  top: 50%;
  left: 25%;
  transform: translate(-50%, 50%);
}

#portfolio .c_right {
  top: 50%;
  right: 25%;
  transform: translate(50%,50%);
}

#portfolio .cards_container {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 5rem;
}

#portfolio .card {
  width: 15rem;
  height: 15rem;
  position: absolute;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid black;
  text-align: center;
  align-content: center;
}

#portfolio .card.active {
  visibility: visible;
}

#portfolio .v_more {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  width: max-content;
  display: block;
  padding: 0.5rem 3rem;
  margin: 3rem auto;
  background-color: var(--green);
  border-radius: 2rem;
}

#portfolio .v_more:hover {
  color: var(--green);
  background-color: var(--black);
} */

/* Desktop */

@media only screen and (min-width:1200px) {

  #portfolio .cards_container {
      animation: none;
      width: fit-content;
      flex-direction: row;
      padding: 0;
      margin: 0 auto;
      gap: 0.5rem;
  }
}

@media only screen and (min-width:1800px) {

  #portfolio {
      margin-top: 3rem;
  }

  #portfolio .carousel {
      margin-top: 2rem;
  }

  #portfolio .cards_container {
      gap: 8rem;
  }
}


/* QUALIFICATIONS */

/* Mobile */


#qualifications {
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: var(--white);
  padding: 2rem 0;
}

#qualifications h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

#qualifications .quals_folder {
  width: 90%;
  margin: 0 auto;
}
#qualifications .quals_container {
  margin: 0;
  height: 15rem
}

#qualifications .quals {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 15rem;

}

#qualifications .quals.active {
  visibility: visible;
  padding: 3rem 1rem;
}

#qualifications .quals_pink {
  background-color: rgb(165, 116, 133);
  border-radius: 0 2rem 2rem 2rem;
}
#qualifications .quals_blue {
  background-color: var(--blue);
  border-radius: 2rem 2rem;
}
#qualifications .quals_green {
  background-color: rgb(119, 130, 86);
  border-radius: 2rem 0 2rem 2rem;
}

#qualifications .quals_pink.active {
  background-color: var(--lt-pink);
  border: 1rem solid var(--pink);
  position: absolute;
  z-index: 15;
  
}
#qualifications .quals_blue.active {
  background-color: var(--lt-blue);
  border: 1rem solid var(--blue);
  position: absolute;
  z-index: 15;
}
#qualifications .quals_green.active {
  background-color: var(--lt-green);
  border: 1rem solid var(--green);
  position: absolute;
  z-index: 15;
}

#qualifications .quals h3 {
  font-size: 1.3rem;
  text-align: center;
}

#qualifications .quals p {
  font-size: 1.1rem;
  text-align: center;
}

#qualifications .quals_btns_container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  gap: 1.25%;
  grid-template-columns: 32.5% 32.5% 32.5%;
}

#qualifications .quals_btns {
  width: 100%;
  height: 5rem;
  max-height: 3.5rem;
  padding: 1rem 0;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto;
  border-radius: 1.25rem 1.25rem 0 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 -2.5rem 2rem -2rem rgba(21, 21, 21, 0.5) inset;
  transition: max-height 0.2s ease-out;
}

#qualifications .quals_btns:hover {
  max-height: 4rem;
}

#qualifications .quals_btns.btn_active {
  z-index: 3;
  cursor:auto;
  box-shadow: none;
  max-height: 5rem;
}

#qualifications .quals_btn_pink {
  background-color: var(--pink);
}

#qualifications .quals_btn_blue {
  background-color: var(--blue);
}

#qualifications .quals_btn_green {
  background-color: var(--green);
}



/* Desktop */
@media only screen and (min-width:1200px) {
  #qualifications .quals_folder{
    width: 100%;
  }

  #qualifications .quals_btns_container {
    width: 50%;
    margin-left: 12.5%;
  }

  #qualifications .quals_green {
    border-radius: 2rem 2rem 2rem 2rem;
  }

  #qualifications .quals_btns {
    font-size: 1.1rem;
  }

  #qualifications .quals {
    width: 75%;
    height: 20rem;
  }

  #qualifications .quals_container {
    width: 75%;
    margin: 0 auto 10rem;
  }
}

@media only screen and (min-width:1800px) {
  #qualifications .quals_btns {
    font-size: 1.2rem;
  }
}


/* CONTACT */

/* Mobile */

#contact {
  background-color: var(--black);
  width: 100%;
  padding: 1rem 0 3rem;
}

#contact .contact_head {
  display: flex;
  align-items: flex-end;
  margin: 2rem 2rem 0;
}

#contact .contact_head img {
  width: 3.5rem;
  height: 3.5rem;
  color: var(--lt-gray);
}

#contact .contact_img .h_circle{
  transform-origin: 50% 50%;
  animation: spin 1s linear infinite;
}

#contact .contact_img .h_circle{
  animation: spin 1s linear infinite;
}

#contact h2 {
  width: fit-content;
  display: block;
  font-size: 2rem;
  color: var(--white);
  margin-left: 1rem;
}

#contact .contact_form {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: block;
  border-radius: 2rem;
}

#contact .contact_inputs {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: var(--dk-gray);
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  display: block;
  letter-spacing: 0.1rem;
}

#contact .contact_inputs:hover {
  background-color: var(--gray);
}

#contact .contact_inputs:hover::placeholder {
  color: var(--m-gray);
}

#contact .contact_inputs:focus-visible {
  background-color: var(--gray);
  color: var(--lt-gray);
  outline: 0.2rem solid var(--green);
}

#contact .contact_inputs:focus-visible::placeholder{
  color: var(--m-gray);
}

#contact .email_input {
  height: 4rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

#contact .textarea_input {
  height: 8rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  resize: none;
}

/* #contact .name_inputs {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
}

#contact .name_inputs .contact_inputs {
  margin: 0;
} */

#contact .submit_btn {
  display: block;
  padding: 0.5rem 5rem;
  background-color: var(--green);
  color: var(--black);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  opacity: 0.9;
}

#contact .submit_btn:hover {
  background-color: var(--lt-green);
  color: var(--black);
  cursor: pointer;
  opacity: 1;
}


/* FOOTER */

/* Mobile */

#foot {
  background-color: var(--black);
}

#foot .s_links {
  color: var(--lt-gray);
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  font-weight: 700;
}

#foot .s_links svg {
  width: 2rem;
  height: auto;
  opacity: 0.8;
}

#foot .s_links .e_svg {
  stroke: var(--gray);
  width: 2.2rem;
}

#foot .s_links .e_svg:hover {
  stroke: var(--lt-gray);
  opacity: 1;
}

#foot .s_links .l_svg {
  fill: var(--gray);
  width: 1.7rem;
}

#foot .s_links .l_svg:hover {
  fill: var(--lt-gray);
}

#foot p {
  color: var(--dk-gray);
  font-size: 0.9rem;
  width: fit-content;
  margin: 1rem auto 0;
  padding-bottom: 1rem;
}